# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.Coursework.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/



# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Tabs Studio
*.tss

# Telerik's JustMock configuration file
*.jmconfig


### DotnetCore ###
# .NET Core build folders
/bin
/obj

# Common node modules locations
/node_modules
/wwwroot/node_modules
